*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: cornsilk;

}
.div1{
    width: 100%;
    height: 50px;
    background-color: darkgoldenrod;
    margin-top: 25px;
}
.span2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    margin-left: 30%;
    color: aliceblue;
    background-color: black;
}
.div2{
    width: 500px;
    height: 250px;
    background-color: rgb(237, 245, 246);
    margin-top: 30px;
   margin-left: 25%;
   border: 2px solid black;
}
.span1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-left: 30%;
    color: aliceblue;
    background-color: black;
}
#span1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-size: 22px;
}
.span3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
}



