*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: cornsilk;
  
}
.container{
    width: 370px;
    height: 450px;
    background:cornsilk;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    padding: 70px 30px;
    border: 1px solid rgb(177, 177, 89);
}
.Image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    margin-left: 105px;
    background:cornsilk;
}
.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background:cornsilk;
    font-size: 22px;

}
.container p{
    font-weight: bold;
}
.container input{
    width: 100%;
    margin-bottom: 20px;
}
.container input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
}
.container input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(112, 182, 112);
    color:#fff;
    font-size: 12px;
}