*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 300px;
    width: 500px;
    background-color:rgb(239, 214, 214);
     display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 8%;
}
h3{
    margin-top: 2px;
    font-family: cursive;
}
